src/ptls-experiments/ptls-venv/
src/ptls-experiments/venv/
src/llm-foundry/llmfoundry-venv/
src/llm-foundry/venv/
/venv/
outputs/
wandb/
assets/gender/
*.pyc
assets/gender/*.csv
assets/gender/**/*.parquet
